name: CI Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install
      - run: npm run lint

  test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install
      - run: npm test -- --coverage

  k6:
    runs-on: ubuntu-latest
    needs: sonarqube
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '20' # Mengatasi warning joi EBADENGINE

      - name: Install k6 & dependencies
        run: |
          # Cara paling simpel: download binary k6 langsung
          curl -L https://github.com | tar -xz
          sudo mv k6-v0.49.0-linux-amd64/k6 /usr/local/bin/
          npm ci

      - name: Start App & Run Load Test
        run: |
          npm start & 
          # Tunggu server sampai ready (maksimal 60 detik)
          npx wait-on http://localhost:3000 --timeout 60000
          k6 run loadtest/script.js
          
  sonarqube:
    runs-on: ubuntu-latest
    needs: test
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '18'
      - run: npm install
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
